<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forgot.css') }}">
    <title>Forgot Password</title>
</head>
<body class="forgot-password-page">
    <header>
        <h2 class="logo">Logo</h2>
    </header> 

    <!-- Back to Login Icon -->
    <a href="{{ url_for('index') }}" class="back-to-login">
        <ion-icon name="arrow-undo-circle"></ion-icon>
    </a>
    
    <div class="content">
        <div class="wrapper">
            <div class="form-box">
                <h2>Forgot Password</h2>
                
                <!-- Display flash messages -->
                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        <ul class="flash-messages">
                            {% for category, message in messages %}
                                <li class="{{ category }}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}

                <form method="POST" action="{{ url_for('forgot_password') }}">
                    <div class="input-box">
                        <span class="icon"><ion-icon name="mail"></ion-icon></span>
                        <input type="email" name="email" required>
                        <label>Email</label>
                    </div>
                    <button type="submit" class="btn">Send Password Reset Email</button>
                </form>
            </div>
        </div>
    </div>
    
    <footer>
        <p>&copy; 2024 QuizeMaster. All rights reserved.</p>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
