<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>QuizeMaster</title>
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div id="popup" class="popup">
                <div class="popup-content">
                    {% for category, message in messages %}
                        {% if category == 'danger' %}
                            <p>{{ message }}</p>
                            <button class="close-btn" onclick="closePopup()">OK</button>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endwith %}
    
    <header>
        <h2 class="logo">Logo</h2>
        <nav class="navigation">
           
            <button class="Login-popup" onclick="openLoginForm()">Login</button>
        </nav> 
    </header> 
    
    <div class="wrapper">
        <span class="icon-close" onclick="closeLoginForm()"><ion-icon name="close"></ion-icon></span>
        
        <div class="form-box login" id="loginForm">
            <h2>Login</h2>
            <form method="POST" action="{{ url_for('index') }}">
                <input type="hidden" name="login" value="1">
                <div class="input-box">
                    <span class="icon"><ion-icon name="mail"></ion-icon></span>
                    <input type="email" name="email" required>
                    <label>Email</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                    <input type="password" name="password" required>
                    <label>Password</label>
                </div>
                <div class="remember-forgot">
                    <label><input type="checkbox" name="remember">Remember me</label>&nbsp; &nbsp;
                     <a href="{{ url_for('forgot_password') }}">Forgot password?</a>
                </div>
                <button type="submit" class="btn">Login</button>
                <div class="login-register">
                    <p>Don't have an account? <a href="#" class="register-link" onclick="openRegisterForm()">Register</a></p>
                </div>
            </form>
        </div>

        <div class="form-box register" id="registerForm">
            <h2>Register</h2>
            <form method="POST" action="{{ url_for('index') }}" onsubmit="return validateRegisterForm()">
                <input type="hidden" name="register" value="1">
                <div class="input-box">
                    <span class="icon"><ion-icon name="person"></ion-icon></span>
                    <input type="text" name="username" required>
                    <label>Username</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="mail"></ion-icon></span>
                    <input type="email" name="email" required>
                    <label>Email</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                    <input type="password" name="password" required>
                    <label>Password</label>
                </div>
                <div class="remember-forgot">
                    <label><input type="checkbox" id="terms" name="terms">I agree to the <a href="{{ url_for('terms') }}" id="termsLink" target="_blank">terms & conditions</a></label>
                </div>
                <button type="submit" class="btn">Register</button>
                <div class="login-register">
                    <p>Already have an account? <a href="#" class="login-link" onclick="openLoginForm()">Login</a></p>
                </div>
            </form>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 QuizeMaster. All rights reserved.</p>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
